<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <title>GameFusion</title>
  </head>
  <body>
    <header>
      <a href="http://localhost:8080/"><img src="/img/_6b94e46c-ddee-4e38-8030-539ab18083ed.jpeg" class="img"></a>
      <ul class="navbar">
        <li><a href="http://localhost:8080/" >Home</a></li>
        <li><a href="http://localhost:8080/api/views/chat" >Chat</a></li>
        <li><a href="http://localhost:8080/api/views/newproduct" >Nuevo Producto</a></li>
        <li?><a href="http://localhost:8080/api/views/contact" >Contactanos</a></li>
      </ul>
      <div class="main">
        <a href="http://localhost:8080/api/views/login" class="user" ><i class="ri-user-line" ></i>Sing in</a>
        <a href="" class="cart"><i class="ri-shopping-cart-line" ></i></a>
        <div class="bx bx-menu" id="menu-icon"><i class="ri-menu-line" ></i></div>
      </div>
    </header>
    {{{body}}}
  </body>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/js/newProduct.js"></script>

</html>